<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EasyRes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <div class="profile-button">V</div>
      <div>
        <h1>EasyRes</h1>
        <h3>Quick Resume Builder</h3>
      </div>
      <button class="tag">+</button>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Browse your past resumes..." />
    </div>

    <div class="resume-cards">
      <div>
        <div class="card">AI/ML</div>
        <p class="card-title">AI/ML Role</p>
      </div>
      <div>
        <div class="card">Data</div>
        <p class="card-title">Data Role</p>
      </div>
      <div>
        <div class="card">UI/UX</div>
        <p class="card-title">UI/UX Role</p>
      </div>
    </div>

    <div class="section">
      <h3>Work Experiences</h3>
      <span class="tag">Intern • XYZ Company</span>
      <span class="tag">Analyst • ABC Company</span>
    </div>

    <div class="section">
      <h3>Skills</h3>
      <span class="tag">PowerBI</span>
      <span class="tag">C Programming Language</span>
      <span class="tag">Full Stack Web Development</span>
      <span class="tag">Microsoft Office</span>
      <span class="tag">HTML, CSS, JS</span>
    </div>
  </body>
</html>
