{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="mb-3">{{ resume.name }}</h1>
  <hr />
  {% if resume.bios %}
  <h5>Bio</h5>
  <ul>
    {% for bio in resume.bios %}
    <li>{{ bio.bio }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% if resume.educations %}
  <h5>Education</h5>
  <ul>
    {% for edu in resume.educations %}
    <li>{{ edu.uni }} ({{ edu.degree }})</li>
    {% endfor %}
  </ul>
  {% endif %} {% if resume.experiences %}
  <h5>Experience</h5>
  <ul>
    {% for exp in resume.experiences %}
    <li>{{ exp.role }} at {{ exp.comp }} - {{ exp.desc }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% if resume.projects %}
  <h5>Projects</h5>
  <ul>
    {% for proj in resume.projects %}
    <li>{{ proj.proj }} ({{ proj.tool }}) - {{ proj.desc }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% if resume.skills %}
  <h5>Skills</h5>
  <ul>
    {% for skill in resume.skills %}
    <li>{{ skill.data }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <a href="{{ url_for('views.list_resumes') }}" class="btn btn-secondary mt-3"
    >Back to Resumes</a
  >
</div>
{% endblock %}
